body {
    font-family: Arial, sans-serif;
}

.jumbotron {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay on the image */
}

.number-nav ul {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

footer {
    background-color: #333;
}
